<title>WebEasy Service information</title>
<style>
.infobox {
  height: 60px;
  width: 950px;
  background-color: #008080;
  color: white;
  font-family: "monospace";
}
</style>
<h1>
  ProTech EasyWeb Server info
</h1>
<h4>
  Use this info when contacting support or debugging
</h4>
<div class="infobox">
  <small>&nbsp; System OS</small>
  <hr>
  &nbsp; {{ os }}
</div>
<br>
<div class="infobox">
  <small>&nbsp; Software version</small>
  <hr>
  &nbsp; {{ version }}
</div>
<br>
<div class="infobox">
  <small>&nbsp; Network port, host</small>
  <hr>
  &nbsp; {{ network }}
</div>
<br>
<div class="infobox">
  <small>&nbsp; Python version</small>
  <hr>
  &nbsp; {{ pyversion }}
</div>
